version: "3.9"

services:

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"   # for HTTPS later
    depends_on:
      - backend
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    env_file:
      - ./frontend/.env

  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
    env_file:
      - ./backend/.env

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: Aarsh
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: travelgram
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
